.social-button{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    color: white;
    border: 1.5px solid white;
    padding: 5px;
    
    transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
}


.social-button:hover{
    background-color: white;
    color: #337CCF;
}